{{#if FILE_DESC}}
/**
 * {{FILE_DESC}}
 */
{{/if}}
import { FC } from 'react'

import styles from './index.module.less'

type {{pascalCase DIR_NAME}}Props = {}

const {{pascalCase DIR_NAME}}: FC<{{pascalCase DIR_NAME}}Props> = (props) => {
  const {} = props

  return (
    <div className={styles['{{dashCase DIR_NAME}}__box']}>
      <div>{{FILE_DESC}}</div>
    </div>
  );
}

export default {{pascalCase DIR_NAME}}
